body {
  margin: auto ;
;
}

.CardDiv{
  display: flex;
  gap: 16px;
  align-items: center;

}
.Card{
  background-color: #fff;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.item{
  width: 15%;
  padding: 8px;
  background: #dbd3d3;
  border-radius: 16px;
  padding-right: 16px;
  padding-left: 16px;
  
}




.center{
   display: flex;
   justify-content: center;
}
